body {margin: 0; padding: 0;}
body, input, textarea {font-family: 'Raleway', Arial, Helvetica, sans-serif; font-size: 1em;} /* https://www.google.com/fonts */
#map {position: absolute; top: 0; bottom: 0; width: 100%;}

/* Geocoder */
#geocoder {position: absolute; top: 10px; left: 10px; z-index: 1001;}
#geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
#geocoder input.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;}
#geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Markers */
body .itinerarymarker {width: 22px; height: 43px;}

/* Card UI */
#card {display: none;}	/* Hidden by default, but Javascript enables for mobile */
#card {z-index: 100; position: absolute; top: calc(100% - 35px); margin-left: 0; cursor: move; width: calc(100% - 2px); height: 100%; background-color: white; border: 1px solid #ddd; border-bottom: 0; float: left; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 0px -2px 10px 0px #eee;}
#card #cardhandle {margin: 5px auto 5px auto; width: 30px; height: 3px; border: 1px solid #ccc; border-radius: 3px; background-color: #ccc;}
#card #cardcontent {padding: 10px;}
