body {margin: 0; padding: 0;}
body, input, textarea {font-family: 'Raleway', Arial, Helvetica, sans-serif; font-size: 1em;} /* https://www.google.com/fonts */
#map {position: absolute; top: 0; bottom: 0; width: 100%;}
.wisp {width: 22px; height: 43px; cursor: pointer;}
.mapboxgl-popup {width: 200px;}
.mapboxgl-popup-content {text-align: center; font-size: 1.2em; border-radius: 5px; box-shadow: 5px 5px 10px #888;}
.mapboxgl-ctrl-group.local {width: 120px;}
.mapboxgl-ctrl-group.local ul {list-style: none; padding: 6px; margin: 0;}
.mapboxgl-ctrl-group.local ul li {padding: 0; margin: 0; font-size: 1em;}
.mapboxgl-ctrl-group.local a {color: black;}
#clearroute {display: none;}

/* Geocoder */
#geocoder {position: absolute; top: 10px; left: 10px; z-index: 1001;}
#geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
#geocoder input.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;}
#geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}
